<style>
    /* Media Query para moviles y tablets */
    @media (max-width: 768px) {
        .cursor-dot,
        .cursor-outline {
            display: none !important;
        }
    }

    /* Media Query para escritorio */
    @media (min-width: 769px) {
        .cursor-dot,
        .cursor-outline {
            position: fixed;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: 50;
            pointer-events: none;
        }
    }
</style>

<div class="cursor-dot w-1 h-1 rounded-full bg-black dark:bg-white" data-cursor-dot></div>
<div class="cursor-outline w-7 h-7 border-2 rounded-full border-black dark:border-white" data-cursor-outline></div>

<script>
    const cursorDot = document.querySelector("[data-cursor-dot]") as HTMLElement;
    const cursorOutline = document.querySelector("[data-cursor-outline]") as HTMLElement;

    window.addEventListener("mousemove", (e) => {
        const posX = e.clientX;
        const posY = e.clientY;

        if (cursorDot) {
            cursorDot.style.left = `${posX}px`;
            cursorDot.style.top = `${posY}px`;
        }

        //cursorOutline.style.left = `${posX}px`;
        //cursorOutline.style.top = `${posY}px`;

        if (cursorOutline) {
            cursorOutline.animate({
                left: `${posX}px`,
                top: `${posY}px`,
            }, { duration: 500, fill: "forwards" });
        }
    });
</script>
